@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
background-color: #C6DEF2   

}

html, body {
    margin: 0%;
    padding: 0%;
} 

header { 
    text-align: center;
    background-color: #013B69;
    padding: 20px;
}

header .pfp {
    width: 200px;
    height: 200px;
    border: 15px solid #17689B;
    border-radius: 50%;
    background-image: url('./../img/Belle-pfp.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0 5px 0;
  color: #C6DEF2
}